Repository CivicActions/guidebook, changes with the owners that CODEOWNERS names for each.
All owners: @CivicActions/docs, @CivicActions/civicactions-team, @CivicActions/engineering, @CivicActions/pm, @CivicActions/security, @CivicActions/management, @CivicActions/legal

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.

# These owners will be the default owners for everything in the repo.
# * @CivicActions/civicactions-team

# These will automatically assign PRs that touch files in these directories to their respective teams for review.
docs/00-contributing/* @CivicActions/docs
docs/010-welcome-to-civicactions/* @CivicActions/civicactions-team
docs/02-about-us/* @CivicActions/civicactions-team
docs/05-engineering/* @CivicActions/engineering  @CivicActions/docs
docs/06-project-management/* @CivicActions/pm  @CivicActions/docs
docs/07-sales-and-marketing/* @CivicActions/civicactions-team  @CivicActions/docs
docs/100-security/* @CivicActions/security  @CivicActions/docs

# Require management approval to change CODEOWNERS
CODEOWNERS @CivicActions/management

# Legal review is REQUIRED for all changes to these sections
docs/08-hr-admin/ @CivicActions/legal
docs/030-policies/ @CivicActions/legal
docs/040-employee-handbook-us/ @CivicActions/legal
docs/045-employee-handbook-ca/ @CivicActions/legal

pre-commit fixes
  docs/070-project-management/pm-training.md
Owners: none

Update unanet.md
  docs/050-how-we-work/tools/unanet.md
Owners: none

removed reference to Harvest & Forecast (#779)
  docs/070-project-management/pm-training.md
Owners: none

update onboarding process description
  docs/010-welcome-to-civicactions/welcome.md
Owners: @CivicActions/civicactions-team

changing follow up to follow-up
  docs/010-welcome-to-civicactions/welcome.md
Owners: @CivicActions/civicactions-team

Spelling of accessibility
  docs/010-welcome-to-civicactions/welcome.md
Owners: @CivicActions/civicactions-team

Fix typo
  docs/030-policies/employee-referral-bonus.md
Owners: @CivicActions/legal

update onboarding process description (#812)
  docs/010-welcome-to-civicactions/welcome.md
Owners: @CivicActions/civicactions-team

Adding single source of info doc
  docs/020-about-us/org-chart.md
  docs/020-about-us/org-structure.md
Owners: none

pre-commit fixes
  docs/020-about-us/org-structure.md
Owners: none
